* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media (width < 768px) {
    .second {
        display: none;
    }

    .third {
        display: none;
    }

    body {
        height: 100vh;
        width: 100vw;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        background-color: gray;
        width: 100%;
        height: 70px;
    }

    .nav2 {
        position: absolute;
        left: 25%;
        right: 25%;
    }

    ul {
        display: none;
        margin-top: 30px;
    }

    li {
        display: inline-block;
        list-style: none;
        padding-right: 13px;
    }

    a {
        text-decoration: none;
        color: beige;
        text-decoration: solid;
        font-family: monospace;
    }

    a:hover {
        color: red;
    }

    .menu {
        position: absolute;
        right: 2px;
        top: 15px
    }

    #search{
        width: 50%;
        position: absolute;
        left: 25%;
        right: 25%;
        top: 5%;
        border: none;
        background-color: inherit;
        border-bottom: solid 1px;
    }

    .searchh {
        position: absolute;
        left: 20%;
        top: 4.9%;
    }

    .slidd {
        display: flex;
        width: 100vw;
        overflow-x: scroll;
        position: absolute;
        bottom: 0px;
        height: 150px;
    }

    .imgd {
        width: 100%;
        padding-right: 50px;
        max-width: 2000px;
    }

    .movement {
        position: relative;
        height: 40vh;
        width: 100vw;
    }
}


@media ((width > 767px) and (width < 1025px)) {
    .first {
        display: none;
    }

    .third {
        display: none;
    }

    h1 {
        color: black;
        text-shadow: 2px 2px 3px rgb(255, 132, 0);
    }

    p {
        color: black;
    }

    .container1 {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    nav {
        flex: 1;
        text-align: right;

    }

    ul {
        display: none;
        list-style: none;
        position: absolute;
        left: 25%;
        top: 20px;
    }

    nav ul li {
        display: inline-block;
        margin: 30px;
        border-bottom: solid beige;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: red;
    }

    .container0 {
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .place1 {
        height: 800px;
        /* background-image: url(images/images/Supermarket.jpeg); */
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: 100%;
        background-attachment: fixed;
    }

    .slidd {
        display: flex;
        overflow-x: scroll;
        position: absolute;
        right: 0px;
        width: 45%;
        height: 387px;


    }

    .newText {
        padding: 65px 20px 0px 5px;
        color: black;
        font-size: 30px;
    }

    .sep {
        height: 390px;
        display: flex;
        justify-content: space-between;
        background-color: beige;
        position: relative;
    }

    .menu2 {
        position: absolute;
        right: 2px;
        top: 15px
    }

    #search2 {
        width: 50%;
        position: absolute;
        left: 25%;
        right: 25%;
        top: 5%;
        border: none;
        background-color: inherit;
        border-bottom: solid 1px beige;
    }

    .searchh {
        position: absolute;
        left: 20%;
        top: 4.9%;
    }

    .footer {
        background-color: rgba(32, 32, 32, 0.894);
        width: 100%;
        height: 350px;
    }
}

@media ((width > 1024px)) {
    .first {
        display: none;
    }

    .second {
        display: none;
    }

    h1 {
        color: black;
        text-shadow: 2px 2px 3px rgb(255, 132, 0);
    }

    p {
        color: black;
    }

    .container1 {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    nav {
        flex: 1;
        text-align: right;

    }

    nav ul {
        display: inline-block;
        list-style: none;

    }

    nav ul li {
        display: inline-block;
        margin: 50px;
        border-bottom: solid beige;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: red;
    }

    .container0 {
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .place1 {
        height: 800px;
        /* background-image: url(Supermarket.jpeg); */
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: 100%;
        background-attachment: fixed;
    }

    .slidd {
        display: flex;
        overflow-x: scroll;
        position: absolute;
        right: 0px;
        width: 43.5%;
        height: 387px;


    }

    .newText {
        padding: 50px;
        color: black;
        font-size: 35px;
    }

    .sep {
        height: 390px;
        display: flex;
        justify-content: space-between;
        background-color: beige;
        position: relative;
    }

    .footer {
        background-color: rgba(32, 32, 32, 0.894);
        width: 100%;
        height: 350px;
    }
}
