* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 95, 95);
    position: relative;
}

ul {
    display: none;
}

li {
    display: inline-block;
    list-style: none;
    padding-top: 25px;
    padding-right: 9px;
}

a {
    text-decoration: none;
    color: beige;
}

a:hover {
    color: red;
}

.menu {
    position: absolute;
    right: 2px;
    top: 10px
}